 <nav>
	    <div class="nav-wrapper">
		    <a href="home.html">
		      <img src="assets/css/images/black-logo.png" class="brand-logo"></a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
				
		        <li><a href="/" id="browse">Browse Freelancers</a></li>
		        <li><a href='/logout' id="logout">Log Out</a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="/">Browse Freelancers</a></li>
		      </ul>
	    </div>
	  </nav>

		<!-- <h2>Find a Freelancer</h2> -->

		<div class="parallax-container">
      		<div class="parallax"><img src="assets/css/images/pexels-photo.jpg"></div>
      		<h1>BROWSE OUR TOP TALENT</h1>
    	</div>
					


	<form action="#">

    	<div class="row center-align" id="buttons">

		 <div class="col l3 m6 s6"><a class="sort board-buttons btn waves-effect waves-light btn-large" data-skill="Front End Developer" id="display-frontend">Front End Developer</a></div>

		 <div class="col l3 m6 s6"><a class="sort board-buttons btn waves-effect waves-light btn-large" data-skill="Back End Developer" id="display-backend">Back End Developer</a></div>

		 <div class="col l3 m6 s6"><a class="sort board-buttons btn waves-effect waves-light btn-large" data-skill="Data Scientist" id="display-data">Data Scientist</a></div>

		 <div class="col l3 m6 s6"><a class="sort board-buttons btn waves-effect waves-light btn-large" data-skill="IT" id="display-it">IT</a></div>

	</div>

<!-- checkboxes
      <input type="checkbox" class="checkbox" id="frontend" />
      <label for="frontend">Front End Developer</label>
   
   
      <input type="checkbox" class="checkbox" id="backend" />
      <label for="backend">Front End Developer</label>
    
    
      <input type="checkbox" class="checkbox" id="scientist" />
      <label for="scientist">Data Scientist</label>
   
      <input type="checkbox" class="checkbox" id="it" />
      <label for="it">IT</label> -->

 	</form>


    <!-- dynamic cards to display the freelancers information -->

<div class="row center-align" id="cards">
			

				{{!-- {{#each this.freelancers}}

            <div class="col s12 m4 l3">
                <div class="card profile-card">
                    <div class="card-image">
                        <img class="card-img" src={{this.photo}}>
                        <span class="card-title"></span>
						</div>
						<!-- this needs to go to the employer mail form -->

	                    
	                    <div class="card-content">
	                    	<span class="card-title">{{this.first_name}} {{this.last_name}}</span>
	                        <p id="card-occupation">{{#each this.skills}}{{this}}{{/each}}</p>
	                        <p id="card-rate">${{this.rate}} per Hour</p>
	                        <br>
	                        <form action="/employers/freelancer/{{this.user_id}}" method="GET">
	                       
	                        <button class="btn btn-large" type="submit">Learn More</button>
	                    </form>
                    	</div>
                </div>
            </div>
				{{/each}} --}}
        </div>
</div>



	<!-- scripts -->

 	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="assets/js/home.js"></script>

	<script type="text/javascript">
		var page = 0
		var CARDS_PER_PAGE = 8

		var data = {{{this.freelancers}}};

		function turnPage(direction){
    		if(direction === "forward"){
        		if(page < (Math.floor(eventList.length / CARDS_PER_PAGE))){
            		page++;
            		dealCards(eventList);
        		};
    		} else if (direction === "back"){
        		if(page > 0){
            		page--;
            		dealCards(eventList);
        		}
    		}
		};

	function dealCards(array, skills=false){
		
		
		$("#cards").empty();

    
    	for(var i = (page * CARDS_PER_PAGE); (i < (CARDS_PER_PAGE * (page + 1)) && i < array.length); i++){
			var skill = skills ? array[i].descr : "";

			$('#cards').append(
				"<div class='col s12 m4 l3'>" +
					"<div class='card profile-card'>" +
						"<div class='card-image'>" +
							"<img class='card-img' src='" + array[i].photo + "' />" +
							"<span class='card-title'></span>" +
						"</div>" +
						"<div class='card-content'>" +
							"<span class='card-title'>" + array[i].first_name + " " + array[i].last_name + "</span>" +
							//"<p id='card-occupation'>" + array[i].skills.join(" ") + "</p>" +
							"<p id='card-occupation'>" + skill + "</p>" +
							"<p id='card-rate'>$" + array[i].rate + "per Hour</p>" + 
							"<br>" +
	                        "<form action='/employers/freelancer/" + array[i].user_id + "' method='GET'>" +
								"<button class='btn btn-large' id='contact-btn' type='submit'>Learn More</button>" +
							"</form>" +
						"</div>"
        	);
    	};
	};

	dealCards(data)

	$('.sort').on('click', function(event){

		$.post({
			url: "/employers",
			data: {
				skill: $(this).data('skill')
			}
		}).done(function(result){
			console.log(result);
			dealCards(result, true);
		})
	})
	</script>
