<div class="profile-photo">	
		<!-- Navigation bar -->
	  <nav>
	    <div class="nav-wrapper">
		    <a href="home.html">
		      <img src="/assets/css/images/black-logo.png" class="brand-logo"></a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="freelancer-board.html" id="browse">Browse Freelancers</a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="freelancer-board.html">Browse Freelancers</a></li>
		      </ul>
	    </div>
	  </nav>

    <!-- container displays the freelancers profile information and existing reviews -->
    
<div class="container profile-reviews">

   <div class="row">
      <div class="col s12 m7 offset-m2 l7 offset-l2 z-depth-6">
        <div class="card profile-card">
          <div class="card-image">
            <img id="profile-img" src={{this.photo}}>
          </div>
          <div class="card-content">
          <span class="card-title"><h3>{{this.first_name}} {{this.last_name}}</h3></span>
          <span id="card-occupation"><p>{{#each this.skills}}{{this}} | {{/each}}
          <span id="card-rate">${{this.rate}} per hour</p></span>
          <p id="email">{{this.email}}</p>
          <div id="id">{{this.id}}</div>
          <br>

      <!-- card buttons to open modals -->

      <div class="contact"><a class="btn modal-trigger waves-effect waves-light card-btn btn-large" data-target="contact-modal" href="#contact-modal">Contact</a></div>

      <div class="review"><a class="btn modal-trigger waves-effect waves-light card-btn btn-large" data-target="review-modal" href="#review-modal">Leave a Review</a></div>
      </div>
        </div>
      </div>
    </div>
  
  <!-- displays the reviews from other employers -->
  {{#if this.hasReviews}}
    {{#each this.reviews}}
  <div class="row">
  
    <div class="col s12 m7 offset-m2 l7 offset-l2 z-depth-6">
     <div class="card review-card darken-1">
          <div class="card-content">
              <span id="employer">{{this.employer}} </span><span id="rating"> {{this.rating}}/5</span>
              <p id="review">{{this.review}}</p>
          </div>
        </div>
      </div>

  </div>
    {{/each}}
  {{/if}}


</div>

<!-- contact modal -->

  <div id="contact-modal" class="modal">
      <div class="modal-content">
         <form class="col s12">
      

      <h3>Contact</h3>
   
      <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>

        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>

        <div class="input-field col s6">
          <input id="message" type="text" rows="10" class="validate">
          <label for="message">Message</label>
        </div>

      <div class="modal-footer">
        <button id="contact-submit" class="modal-action modal-close waves-effect waves-green btn-flat">Send</button>
      </div>

    </form>
    </div>
  </div>


  <!-- review modal -->

  <div id="review-modal" class="modal">
      <div class="modal-content">
        <form>

      <h3>Review a Freelancer</h3>

      <div class="input-field col s10">
          <input id="name" type="text" class="validate">
          <label for="name">Your Name</label>
        </div>

         <div class="input-field col s2" id="rating">
        <select>
            <option value="" disabled selected>Rating</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </div>

        <div class="input-field col s12">
           <textarea id="review" class="materialize-textarea"></textarea>
           <label for="review">Write a Review</label>
        </div>
    
    <!-- submit -->

        <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>

    </form>
  </div>
</div>

</div>

<<<<<<< HEAD
  <!-- scripts -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src="/assets/js/home.js"></script>
  
  <script type="text/javascript">

     $(document).ready(function() {
<<<<<<< HEAD
  $('select').material_select();
  $('.parallax').parallax();
  $(".button-collapse").sideNav();
  $('.dropdown-button').dropdown('open');
  $('.dropdown-button').dropdown('close');

    $('.modal').modal({
    dismissible: true, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    inDuration: 300, // Transition in duration
    outDuration: 200, // Transition out duration
    startingTop: '4%', // Starting top style attribute
    endingTop: '10%', // Ending top style attribute
  });
$('.review').on("click",function(event){
  event.preventDefault();
 var id = $("#id").html();
  console.log(id);
});

   
  
  
  
  $('#contact-submit').on('click', function(event){
    event.preventDefault();
    
    $.post({
      url: '/employers/messages/',
      data: {
        id : $("#id").html(),
      name: $('#name').val(),
      email: $('#email').val(),
       message: $('#message').val()
      
        
=======

      $('select').material_select();
      $('.parallax').parallax();
      $(".button-collapse").sideNav();
      $('.dropdown-button').dropdown('open');
      $('.dropdown-button').dropdown('close');

      $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
      });

      $('#send-contact').on("click", function(event){
        event.preventDefault();
=======
	<!-- scripts -->

 	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/assets/js/home.js"></script>
 <script type="text/javascript">
  $('#contact').on("click", function(event){
    event.preventDefault();
    console.log("cmon");
    $("#review-modal").hide();
    $("#contact-modal").show();
    
  });
  $('#close-contact').on("click", function(event){
    event.preventDefault();
    console.log("cmon");
    
    $("#contact-modal").hide();
    $("#name").val() = "";
    $("#email").val() = "";
    $("#message").val() = "";
 //   $("#contact-modal").empty();
    
  });
  $('#close-review').on("click", function(event){
    event.preventDefault();
    console.log("cmon");
    
    $("#review-modal").hide();
    $("#name").val() = "";
    $("#rating").val() = "";
    $("#review").val() = "";
 //   $("#contact-modal").empty();
    
  });
  $('#review').on("click", function(event){
    event.preventDefault();
    console.log("cmon");
    $("#contact-modal").hide();
    $("#review-modal").show();
  });
   $('#send-contact').on("click", function(event){
    event.preventDefault();
>>>>>>> sort
    
      $.post({
      url: '/freelancer/messages/'+this.user_id,
      data: {
        name:  $("#name").val(),
        email: $("#emaill").val(),
        message: $("#message").val()
>>>>>>> aca5fb985bcb7155e4318fc47147207fc1d33dd2
      }
    }).done(function(response){
      if(response.status === 'success'){
        console.log("ok");
      } else{
        
      }
    });
  });
<<<<<<< HEAD
  
=======
<<<<<<< HEAD
>>>>>>> aca5fb985bcb7155e4318fc47147207fc1d33dd2
});

 </script>
=======
 </script>
>>>>>>> sort
