<div class="profile-photo">	
		<!-- Navigation bar -->
	  <nav>
	    <div class="nav-wrapper">
		    <a href="home.html">
		      <img src="assets/css/images/black-logo.png" class="brand-logo"></a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="freelancer-board.html" id="browse">Browse Freelancers</a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="freelancer-board.html">Browse Freelancers</a></li>
		      </ul>
	    </div>
	  </nav>

    <!-- container displays the freelancers profile information and existing reviews -->
    
<div class="container profile-reviews">
	{{this}}
	 <div class="row">
	    <div class="col s12 m7 offset-m2 l7 offset-l2 z-depth-6">
	      <div class="card profile-card">
	        <div class="card-image">
	          <img id="profile-img" src={{this.photo}}>
	        </div>
	        <div class="card-content">
	        <span class="card-title"><h3>{{this.first_name}} {{this.last_name}}</h3></span>
	        <span id="card-occupation"><p>{{#each this.skills}}{{this}}{{/each}} | 
	        <span id="card-rate">${{this.rate}} per hour</p></span>
	        <p id="email">{{this.email}}</p>
	        <br>

			<!-- card buttons to open modals -->

		 	<div class="review"><a class="btn modal-trigger waves-effect waves-light card-btn btn-large" data-target="review-modal" href="#review-modal">Review an Employer</a></div>
			</div>
	      </div>
	    </div>

	  </div>
	
	<!-- displays the reviews from other employers -->

	<div class="row reviews">
	
		<div class="col s12 m7 offset-m2 l7 offset-l2 z-depth-6">

	{{#if this.hasreviews}}
		 <div class="card review-card darken-1">
	        <div class="card-content">
	            <span id="employer">{{this.reviews.employer}} </span><span id="rating"> {{this.reviews.rating}}</span>
	            <p id="review">{{this.reviews.review}}</p>
	        </div>
	      </div>
	    </div>
	{{/if}}
	</div>
</div>

  <!-- review modal -->

  <div id="review-modal" class="modal">
	  <div class="modal-content">
   		<form>

	    	<h3>Review an Employer</h3>

		    <div class="input-field col s10">
	          <div class="input-field col s2" id="who">
	          <select>
	          	<option value="" disabled selected>Who are you reviewing?</option>
	          	<option value="a">A</option>
	          	<option value="b">B</option>
	          </select>
	        </div>

	       	 <div class="input-field col s2" id="rating">
	    		<select>
	      		  <option value="" disabled selected>Rating</option>
			      <option value="1">1</option>
			      <option value="2">2</option>
			      <option value="3">3</option>
			      <option value="4">4</option>
			      <option value="5">5</option>
			    </select>
	        </div>

	        <div class="input-field col s12">
	           <textarea id="employer-review" class="materialize-textarea"></textarea>
	           <label for="employer-review">Write a Review</label>
	        </div>

	        <!-- submit -->

        <div class="modal-footer">
	      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
	    </div>

		</form>
	</div>
</div>

</div>

	<!-- scripts -->
 	  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="assets/js/home.js"></script>